{% extends 'admin-base.html' %}

{% block title %}Admin - View Applications {% endblock %}

{% block content %}
<h1>Job Applications</h1>

<a href="https://docs.google.com/spreadsheets/d/1mriklR-LoUxlMsdi8jCkFWHf8mTI8--Qcl4rM7lilf8/edit?usp=sharing" target="_blank" class="btn-togsheet" style="margin-bottom: 20px;">Open Google Sheet</a>

<div class="viewapplication-section-container">
    <div class="table-responsive">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table class="job-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IC Number</th>
                    <th>Group</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Salary</th>
                    <th>Resume</th>
                    <th>Date Submitted</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for app in applications %}
                <tr>
                    <td>{{ app['Full Name'] }}</td>
                    <td>{{ app['IC Number'] }}</td>
                    <td>{{ app['Group'] }}</td>
                    <td>{{ app['Position'] }}</td>
                    <td>{{ app['Email'] }}</td>
                    <td>{{ app['Contact Number'] }}</td>
                    <td>{{ app['Minimum Salary'] }}</td>
                    <td><a href="{{ app['Resume'] }}" target="_blank">View Resume</a></td>
                    <td>{{ app['Date Submitted'] }}</td>
                    <td>
                        <a href="mailto:{{ app['Email'] }}" class="btn-toreply">Reply</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}