/*about us section-start*/
#about-us {
    background: linear-gradient(270deg, #f5ecee, #ffffff);
}

#about-us .section-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
    justify-content: center;
}

#about-us  img {
    max-width: 100%; 
    height: auto; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

#about-us h2 {
    font-size: 2.3rem;
    margin: 30px 0;
    margin-left: 17%;
    color: black;
}

#about-us p {
    font-size: 0.95rem;
    line-height: 2rem;
    color: black;
    text-align: justify;
    font-weight: 550;
    padding: 0 0 25px 0;
}

#about-us i:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

#about-us .divider {
    width: auto;
    height: 3px;
    margin: 20px auto; 
    border: none;
    border-top: 2px dotted;
    border-color: #651c1c;
}
/*about us section-end*/

/* Our Leader Section */
#our-leader {
    padding: 50px 0 80px 0;
    background: linear-gradient(270deg, #f5ecee, #ffffff);
    align-items: center;
    flex-wrap: wrap;
}

#our-leader .divider {
    width: auto;
    height: 3px;
    margin: 20px auto; 
    border: none;
    border-top: 2px dotted;
    border-color: #651c1c;
}

#our-leader .section-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}

#our-leader h2 {
    font-size: 2rem;
    margin: 50px 0 30px;
    margin-left: 17%;
    color: black;
}

.leader-profile {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap; /* To make it responsive */
    gap: 30px;
}

.leader-profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.leader-profile p {
    text-align: justify;
    line-height: 1.7rem;
}

.leader-name h3 {
    font-size: 1.6rem;
    margin-top: 0;
    color: #000;
}

.leader-name p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000;
    line-height: normal;
}

.leader-info p {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 2rem;
    color: #000000;
}

@media (max-width: 768px) {
    #about-us h2 {
        font-size: 2rem; 
        margin: 30px auto;
        text-align: center;
    }

    #about-us p {
        font-size: 0.9rem; 
        line-height: 1.8rem;
    }

    .leader-profile {
        flex-direction: column; 
        align-items: center;
    }

    .leader-info {
        text-align: center;
    }

    .leader-profile img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .leader-name h3 {
        font-size: 1.8rem;
    }

    .leader-info p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    #our-leader h2 {
        font-size: 2rem;
        margin: 50px 0 30px;
        text-align: center;
    }
}
