/* General Container */
.viewapplication-section-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
}

/* Header Section */
.viewapplication-section-container h1 {
    font-size: 2.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Table Styles */
.viewapplication-section-container .table-responsive {
    width: 100%;
    overflow-x: auto;
}

.viewapplication-section-container .job-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.viewapplication-section-container .job-table th, .viewapplication-section-container .job-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.viewapplication-section-container .job-table th {
    background-color: #f4f6f9;
    font-size: 1rem;
    color: #555;
    text-transform: uppercase;
}

.viewapplication-section-container .job-table td {
    font-size: 1rem;
    color: #333;
}

/* Resume Link Styling */
.viewapplication-section-container .job-table a {
    color: #185ea4;
    text-decoration: none;
    font-weight: bold;
}

.viewapplication-section-container .job-table a:hover {
    text-decoration: underline;
}

/* Button Styles */
.btn-togsheet {
    background-color: #185ea4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn-togsheet:hover {
    background-color: #0d407a;
}

.btn-toreply {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    background-color: #fff756; /* Green for reply */
    margin-right: 5px;
}

.btn-action:hover {
    opacity: 0.8;
}


/* Responsive Design */
@media (max-width: 768px) {
    .viewapplication-section-container .job-table th, .viewapplication-section-container .job-table td {
        padding: 10px;
    }

    .viewapplication-section-container .btn-primary {
        width: 100%;
        text-align: center;
    }
}
