.footer-section {
    background: linear-gradient(135deg, #663046, #5d1631);
    color: #ffffff;
    text-align: left;
    width: 100%;
    margin-top: auto;
    line-height: 1.5;
    position: relative;
    padding-bottom: 1rem;
}

/* Footer Copyright */
.footer-copyright {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.85rem;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: 20%;
    width: 22%;
}

.footer-column .divider {
    width: 40px;
    height: 3px;
    background-color: #e2e079;
    margin: 8px 0px;
}

.footer-column iframe {
    width: 100%;
    height: 120px;
    margin-top: 0.9rem;
}

.footer-column h3 {
    font-size: 16px;
    color: #ffffff;
    position: relative;
    margin-bottom: 0;
}

.footer-column ul {
    list-style: none;
    padding-left: 0;
}

.footer-column ul li a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-left: 0;
    transition: all 0.3s ease;
    font-weight: 500;
}

.footer-column ul li a:hover {
    color: #000000;
}

.footer-column .social-links {
    display: flex;
    margin-top: 1rem;
}

.footer-column .social-links a {
    height: 38px;
    width: 38px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-column .social-links img {
    width: 33px;
    height: 33px;
}

.footer-column .social-links a:hover {
    background-color: #e91e63;
}

/* Footer Adjustments for Responsiveness */

@media screen and (max-width: 992px) {
    .footer-column {
        width: 45%;
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 576px) {
    .footer-container {
        flex-direction: column; /* Stack columns on small screens */
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center; /* Center-align text */
        margin-bottom: 20px;
    }

    .footer-column h3 {
        font-size: 1rem;
    }

    .footer-column ul li a {
        font-size: 0.9rem;
    }

    .footer-column .social-links {
        justify-content: center; /* Center social icons */
    }

    .footer-column .social-links a {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
}
