body, html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #000000;
    scroll-behavior: smooth;  
}

body {
    background-color: rgb(207, 200, 203);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto; 
}

.section-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

/* Navbar and other sections should adjust better on smaller screens */
@media screen and (max-width: 992px) {
    .container {
        padding: 0 30px; /* Less padding on smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px; /* Further reduce padding for smaller devices */
    }
}

/* Animation for icons */
.icon {
    font-size: 3rem;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}
