/* general.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;  


    background-image: url('/static/img/super-bg.jpg');
    background-color: rgb(255, 255, 255);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    padding: 0 50px;
}

.section-container {
    max-width: 1200px; /* This constrains the content width */
    width: 100%;
    padding: 0 1.5rem; /* Optional padding for responsiveness */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Animation for icons */
.icon {
    font-size: 3rem;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}




