/* mission-vision.css */

/* Mission, Vision, Values */
#mission-vision {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    background: linear-gradient(270deg, #f5ecee, #d5bbc9);
    align-items: center;
    flex-wrap: wrap;
}

.mv-item {
    text-align: center;
    max-width: 300px;
    flex: 1 1 30%;
    margin: 10px;
}


.mv-item .icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #185ea4;
}

.mv-item h3 {
    font-size: 1.8rem;
    color: #000000;
}

.mv-item p {
    font-size: 1rem;
    color: #333;
}

