/* News Categories Section */
#news-page {
    background: linear-gradient(to top left, #e2c2cf, #fef5f5);
}

#news-page img {
    max-width: 100%; 
    height: auto; 
}

#news-page .section-container {
    padding: 70px 20px 100px 20px;
}

.news-carousel {
    overflow: hidden;  
    width: 100%;
    position: relative;
}

#news-page h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 0;
    color: #000000;
    border-bottom: 1px dotted #000000;
}

.news-pagination {
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.news-dot {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-dot.is-active {
    background-color: #333;  
}

.news-dot:hover {
    background-color: #185ea4;  
}

.news-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: transform 0.5s ease-in-out;  
}

.news-card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;  
    flex-shrink: 0;  
    text-align: left;
    transition: box-shadow 0.3s ease;
}

.news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); 
    transform: translateY(5px) 0.2s ease-in; 
    transform: scale(1.003);
    transition: transform 0.2s ease;
}

.news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 5px 0px 0px 0px;
}

.news-content {
    padding: 15px;
}

.news-content h3 {
    font-size: 1.3rem;
    margin: 0px;
    color:rgb(2, 10, 37);
}

.news-content p {
    font-size: 1rem;
    color: #000000;
    text-align: justify;
}

.news-content a {
    color: rgb(2, 10, 37); 
    text-decoration: none;
}

.news-content a:hover {
    color: rgb(11, 47, 163); 
}

.news-tag {
    display: inline-block;
    padding: 5px 8px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-top: 0px;
    color: white;
}

.news-tag.announcement {
    background-color: #f35f36; 
}

.news-tag.infomercial {
    background-color: #1faf27; 
}


/* News Detail Section */
#news-detail {
    background: linear-gradient(180deg, #b9d7dd, #6077c8);
    padding: 50px 0;
}

.news-detail-image {
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    height: auto;
    margin: 20px 0;
    object-fit: cover;
}

.news-detail-image:hover {
    transform: scale(1.007);
    transition: transform 0.1s;
}

#news-detail .section-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#news-detail h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: #000000;
}

#news-detail h1:hover {
    color: #202020;
}

#news-detail p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

#news-detail a {
    color: #0037ac;
    text-decoration: none;
}

#news-detail a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .news-grid {
        flex-direction: column;
        align-items: center;
    }

    .news-card {
        width: 100%;
        max-width: 600px;
    }

    #news-detail .section-container {
        padding: 20px;
    }

    #news-detail h1 {
        font-size: 2rem;
    }

    #news-detail p {
        font-size: 1rem;
    }
}


.placeholder {
    opacity: 0.7; 
}

.placeholder .news-image {
    filter: grayscale(100%); 
}

.placeholder h3 {
    color: #888; /* Lighter text color for "Coming Soon" */
}

.placeholder p {
    color: #bbb;
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    transition: background-color 0.3s ease;  
}

.arrow-left {
    left: 10px; 
}

.arrow-right {
    right: 10px;  
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);  
}


