#services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('/static/img/services-bg2.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

#services .section-header {
    margin-bottom: 40px;
    color: #4d2e55;
    text-align: center;
}

#services .section-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 10px;
}

#services .service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

#services .service-container {
    display: flex;
    text-align: center;
    max-width: 250px;
    flex: 1 1 30%;

    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 340px;  
}

#services .section-container {
    padding-bottom: 80px;
}

#services-detail .cta-button {
    margin-bottom: 40px;
}

#services .icon {
    font-size: 3rem;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

#services .icon img {
    width: 60px;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#services .service-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#services .service-container:hover .icon {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


#services h2 {
    font-size: 1.5rem;
    color: #6c1d3e;
}

#services p {
    font-size: 1rem;
    color: #1d1b1b;
}

#services .cta-button {
    background-color: #831e35;
    border: 0 solid #893b56;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #feebf6;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#services .cta-button:hover {
    background-color: #3b1e26;
    color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* Service Detail Section */
#service-detail {
    background-image: url('/static/img/service-detail-bg.png');
    padding: 150px 0;
    background-size: cover;
    background-position: center;
}

#service-detail.bookkeeping {
    background-image: url('/static/img/services-detail/bk-bg1f.png');
}

#service-detail.business-administration {
    background-image: url('/static/img/services-detail/ba_bg1f.png');
}

#service-detail.human-resources {
    background-image: url('/static/img/services-detail/hr-bg.png');
}

#service-detail {
    padding: 150px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#service-detail .section-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 60px;
    background-color: rgba(255, 255, 255, 0.972);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: justify;
    align-items: center;
}


#service-detail h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4d2e55;
    text-align: center;
}

.offer-section {
    padding: 0 15px 0 15px;
    border-left: 4px solid #831e35;
    margin-bottom: 25px;
}

.offer-section h2 {
    font-size: 1.8rem;
    color: #831e35;
    font-weight: bold;
    margin-top: 0;
}

.offer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-section ul li {
    font-size: 1.1rem;
    color: #191919;
    margin-bottom: 10px;
    padding-left: 1.5rem;
    position: relative;
}

.offer-section ul li::before {
    content: "•";
    color: #831e35;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    top: -3px;
}

#service-detail p {
    font-size: 1rem;
    color: #1a1a1a;
    line-height: 1.6;
    margin-bottom: 30px;
}

#service-detail .cta-button {
    display: inline-block;
    background-color: #831e35;
    color: #fff;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 auto;
}

#service-detail .cta-button:hover {
    background-color: #6e1930;
    transform: translateY(-3px);
}

/*responsive design*/
/*adjustments for tablet*/
@media (max-width: 768px) {
    #services,
    #mission-vision {
        flex-direction: column;
    }

    #services .service-container {
        max-width: 100%;
        flex: 1 1 100%;
    }

    #services .section-header h1 {
        font-size: 2rem;
    }

    #services h2 {
        font-size: 1.3rem;
    }

    #service-detail .section-container {
        padding: 20px;
    }

    #service-detail h1 {
        font-size: 2rem;
    }

    .offer-section h2 {
        font-size: 1.6rem;
    }

    #service-detail .cta-button {
        width: 100%; 
    }
}

/*adjustments for phones*/
@media (max-width: 576px) {
    #services .service-cards {
        gap: 15px; 
    }

    #services .service-container {
        width: 100%; 
        padding: 10px;
    }

    #services .section-header h1 {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    #services h2 {
        font-size: 1.2rem;
    }

    #services p {
        font-size: 0.9rem; 
    }

    .icon {
        font-size: 2.5rem; 
    }

    #service-detail .cta-button {
        font-size: 1rem;
        padding: 0.8rem;
    }
}


