.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#left-slider {
    width: 100%;
    height: 100%;
    position: absolute;
}

#left-slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

#left-slider .current {
    opacity: 1 !important;
}

.caption {
    position: absolute;
    top: 50%;
    left: 8rem;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 0;
    transition: 500ms ease opacity, 500ms ease transform;
}

.current-caption {
    opacity: 1;
    transform: translateY(0);
}

.caption-heading h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
}

.caption-subhead span {
    font-size: 1rem;
    color: white;
}
