<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %}</t
        t>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-base-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-editaddjob-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-editaddnews-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-dashboard-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-managejob-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-managenews-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-viewapplication-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-viewinquiry-style.css') }}">
</head>
<body>
    
    <header>
        <div class="header-container">
            <a href="{{ url_for('admin_bp.admin_dashboard') }}" class="btn-home">Home</a>
        </div>
    </header>

    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>

