{% extends 'index.html' %}

{% block title %}Home - La Whizz{% endblock %}

{% block content %}

<div class="slideshow-container">
    <div id="left-slider">
        <!-- Dynamically added slides will appear here -->
    </div>
    <div id="slider-caption">
        <div class="caption-heading"><h1>Slide Title 1</h1></div>
        <div class="caption-subhead"><span>Description for slide 1.</span></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/slideshow-jsstyle.js') }}"></script>
<script>
    jQuery(window).bind("load", function(){
        // Remove any inline styles from the slides to avoid conflicts
        jQuery('#left-slider .slide').removeAttr('style');
        
        // Trigger a window resize event to recalculate layout
        jQuery(window).resize();
        
        // Ensure minimum height is set for each slide to make them visible
        jQuery('#left-slider .slide').attr('style', 'min-height:100vh;');
    });
</script>

{% endblock %}
