{% extends 'index.html' %}

{% block title %}Services - La Whizz{% endblock %}

{% block content %}
<section id="services">
    <img src="{{ url_for('static', filename='img/services-header.png') }}" alt="Services Header">
    <!-- Breadcrumb Navigation -->
    <nav class="service-breadcrumb">
        <a href="/">Home</a> <span> > </span> <a href="/services">Services</a>
    </nav>

    <div class="services-header">
        <div class="header-text">
            <h1>OUR SERVICES</h1>
            <p>Explore tailored solutions to empower your business growth.</p>
        </div>
        <div class="divider"></div>
        <p style="margin: 0 2%; margin-top: 0; text-align: justify;">At La Whizz, we offer expert business solutions to help you streamline 
            operations and enhance efficiency. Explore our core services designed to 
            support your business growth and success.</p>
    </div>
    <div class="space-md"></div>

    <!-- Service cards container -->
    <div class="service-cards">
        <div class="service-container">
            <a href="{{ url_for('user_bp.service_detail', service='bookkeeping') }}">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/bookkeeping-icon.png') }}" alt="Book-keeping Icon">
                </div>
            </a>
            <h2>Book-keeping</h2>
            <p>Keep your finances on track with ease.</p>
            <a href="{{ url_for('user_bp.service_detail', service='bookkeeping') }}" class="cta-button">Learn More</a>
        </div>

        <div class="service-container">
            <a href="{{ url_for('user_bp.service_detail', service='business-administration') }}">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/businessadmin-icon.png') }}" alt="Business Administration Icon">
                </div>
            </a>
            <h2>Business Administration</h2>
            <p>Efficient management for your business.</p>
            <a href="{{ url_for('user_bp.service_detail', service='business-administration') }}" class="cta-button">Learn More</a>
        </div>

        <div class="service-container">
            <a href="{{ url_for('user_bp.service_detail', service='human-resources') }}">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/hr-icon.png') }}" alt="Human Resources Icon">
                </div>
            </a>
            <h2>Human Resources</h2>
            <p>Comprehensive HR services for your team.</p>
            <a href="{{ url_for('user_bp.service_detail', service='human-resources') }}" class="cta-button">Learn More</a>
        </div>
    </div>

    <!-- Call to Action -->
    <section id="cta-services">
        <h2>Optimize Your Business with Our Expertise!</h2>
        <p>Let's take your business to the next level with our tailored solutions.</p>
        <a href="/contact" class="cta-button">Consult With Us</a>
    </section>
    
</section>
{% endblock %}
